cryptography==44.0.0
email_validator==2.2.0
fastapi==0.115.8
fastapi-cli==0.0.7
grpcio-status==1.70.0
httptools==0.6.4
Jinja2==3.1.5
langchain-google-genai==2.0.9
PyMySQL==1.1.1
python-dotenv==1.0.1
python-multipart==0.0.20
setuptools==58.1.0
sqlmodel==0.0.22
uvloop==0.21.0
watchfiles==1.0.4
websockets==14.2
docker==7.1.0
pydantic>=2.4.2
pydantic-settings>=2.0.3
PyPDF2==3.0.1
